.dice {
    /* color: #333333;
    background-color: #FCFCFC;
    font-family: Courier,monospace;
    font-size: 2em;   */
  }
  
  .dice input {
    border: none;
    border-bottom: 1px dashed #333333;
    box-sizing: border-box;
    text-align: center;
    width: 40px;
  }
  
  .dice button {
    color: #FCFCFC;
    background-color: #333333;
  }