.dice {
  margin: 1em 0;
}

.dice input {
  border: none;
  border-bottom: 1px dashed #333333;
  box-sizing: border-box;
  text-align: center;
  width: 2em;
  font-size: 1em;
  font-family: Courier,monospace;
}

.dice button {
  color: #FCFCFC;
  background-color: #333333;
  margin-left: 1em;
}

.brutal .secondary {
  font-size: 1em;
  background-color: #AAAAAA;
}

ol {
  position: absolute;
  display: block;
}